@{
    ViewBag.Title = "Paises";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<html>
<head>
    <script src="~/Scripts/Vue/vue.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Casos de Covid</title>
</head>
<body>
    <div id="app">
        <paises></paises>
    </div>


</body>
</html>
